.main {
    @media screen and (min-width: 1024px) {
      margin-left: 300px;
    }
}

.mv {
    width: 100%;
    height: 100vh;
    margin-bottom: 50px;
    background: url(../images/mv_sp.jpg) center center / cover;
    @media screen and (min-width: 768px) {
        background: url(../images/mv_tab.jpg) center center / cover;
    }
    @media screen and (min-width: 1024px) {
        margin-bottom: 100px;
        background: url(../images/mv_pc.jpg) center center / cover;
    }
}

.sec1 {
    margin-bottom: 50px;

    &__ttl {
        @include sec__ttl;
    }

    &__wrap {
        padding: 0 15px;

        @media screen and (min-width: 768px) {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &__box {
        margin-bottom: 50px;

        @media screen and (min-width: 768px) {
            width: 45%;
        }

        @media screen and (min-width: 1024px) {
            width: 20%;
        }
    }

    &__pic {
        margin-bottom: 10px;
    }

    &__img {
        width: 100%;
    }

    &__txt {
        line-height: 1.6;
    }
}

.sec2 {
    margin-bottom: 50px;

    &__ttl {
        @include sec__ttl;
    }

    &__wrap {
        padding: 0 15px;
        @media screen and (min-width: 768px) {
            width: 90%;
            margin: 0 auto;  
        }
        @media screen and (min-width: 1400px) {
          display: flex;
          justify-content: space-between;
        }
    }

    &__box {
        margin-bottom: 50px;
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
        @media screen and (min-width: 1400px) {
          width: 45%;
        }
    }
    
    &__pic {
        margin-bottom: 10px;
        @media screen and (min-width: 768px) {
            width: 45%;         
        }
    }

    &__img {
        width: 100%;
    }

    &__txt {
        line-height: 1.6;
        @media screen and (min-width: 768px) {
            width: 45%;        
        }
    }
}